:root {
    --dark-shadow: #29455a;
    --light-shadow: #b5c2c2;
    --primary: #ffffff;
    --secondary: #23395b;
    --accent-pink: #748194;
    --accent-mustard: #f7c550;
    --gradient: linear-gradient(
      to right,
      var(--secondary) -10%,
      var(--accent-pink) 30%,
      var(--accent-mustard) 100%
    );
    --glass-gradient: linear-gradient(
      to right bottom,
      /* rgba(257, 257, 257, 0.3), */
      rgba(14, 22, 36, 0.2),
      rgba(216, 30, 91, 0.2),
      rgba(97, 77, 31, 0.2)
    );
}

.page-bg{
    display: flex;
    flex-direction: column;
}

.create-quiz-body{
    margin-top: 20px;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.create-quiz-body .quiz-header h2{
    color: var(--secondary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.create-quiz-body .quiz-header {
    padding: 20px;
    margin: 30px 0px 10px 0px;
    border: none;
	border-top: 25px solid var(--accent-pink);
	box-shadow: var(--light-shadow) 1px 1px 2px 1px;
	border-radius: 10px;
	display: flex;
	width: 90%;
	flex-direction: column;
}

.create-quiz-body #quiz-title {
    border: var(--secondary) 1px solid;
	margin: 10px;
	padding: 10px;
	font-size: 26px;
	font-weight: bold;
	color: var(--secondary);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: none;
    outline: none;
	border: none;
	border-bottom: 2px solid var(--light-shadow);
}

.controls{
    margin-left: 55px;
}

.create-button{
    align-items: center;
	display: flex;
	flex-direction: column;
}

.myButton {
    margin: 10px;
	box-shadow: 0px 3px 10px 2px #91b8b3;
	background-color:var(--secondary);;
	border-radius:28px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:16px 54px;
	text-decoration:none;
	text-shadow:0px 2px 0px #2b665e;
}
.myButton:hover {
	background-color:#6c7c7c;
    text-decoration: none;
    color : var(--dark-shadow);
}
.myButton:active {
	position:relative;
	top:1px;
}


.modalbg {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 99999;
    -moz-transition: all 2s ease-out;
    -webkit-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -transition-delay: 0.2s;
    display: block;
    pointer-events: none;
  }
  .modalbg .dialog {
    width: 500px;
    position: relative;
    top: -1000px;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #ccc);
    background: -webkit-linear-gradient(#fff, #ccc);
    background: -o-linear-gradient(#fff, #ccc);
    box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
  }
  .modalbg .dialog .ie7 {
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
  }
  .modalbg:target {
    display: block;
    pointer-events: auto;
    background: rgba(4, 10, 30, 0.8);
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .modalbg:target .dialog {
    top: -90px;
    -moz-transition: all 0.8s ease-out;
    -webkit-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -transition-delay: 0.4s;
  }
  .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -transition-delay: 0.2s;
  }
  .close .ie7 {
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
  }
  .close:hover {
    background: #00d9ff;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .fineprint {
    font-style: italic;
    font-size: 10px;
    color: #646;
  }
  a {
    color: #333;
    text-decoration: none;
  }
  